@charset "UTF-8";

body {
  background:white;
  padding:80px 0 0 0;
}

body, input, button {
  font-family:'Roboto', sans-serif;
}

.noFill {
  fill:none;
}

header {
  width:100%;
  height:100px;
  color:rgba(255,255,255,0.8);
  letter-spacing: 0.4px;
  position:fixed;
  padding:15px;
  top:85px;
  left:0;
  z-index:5;
  background:#5484AE;
  box-shadow: 0px 2px 4px gray;
  border-bottom-right-radius:10px;
  border-bottom-left-radius:10px;
}

header input[type="text"] {
  width:165px;
  height:50px;
  float:left;
  color:#fff;
  font-size:15px;
  font-weight:400;
  text-indent:15px;
  padding: 0 15px 0 0;
  background:rgba(255,255,255,0.2);

  border-top-left-radius:5px;
  border-bottom-left-radius:5px;

  border-top-right-radius:5px;
  border-bottom-right-radius:5px;

  border:0px;
  box-shadow:none;
  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

header input[type="date"] {
  width:170px;
  height:50px;
  float:right;
  color:rgba(255,255,255,0.75);
  font-size:15px;
  font-weight:400;
  text-indent:6px;
  padding: 0 15px 0 0;
  background:rgba(255,255,255,0.2);
  border-top-right-radius:25px;
  border-bottom-right-radius:25px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border:0px;
  box-shadow:none;
  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}


 input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    font-size:13px;
    position: absolute;
    top: 56px;
    right: 66px;
    color: white;
    opacity: 0.75;
}

header input::-webkit-input-placeholder {
  color:rgba(255,255,255,0.75);
}

header input:-moz-input-placeholder {
  color:rgba(255,255,255,0.75);
}

header input::-moz-input-placeholder {
  color:rgba(255,255,255,0.75);
}

header input:-ms-input-placeholder {
  color:rgba(255,255,255,0.75);
}


header button {
  width:50px;
  height:50px;
  position:absolute;
  top:35px;
  right:10px;
  z-index:2;
  border-radius:25px;
  background:#fff;
  border:0px;
  box-shadow:none;
  border:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

header button svg {
  width:16px;
  height:16px;
  position:absolute;
  top:50%;
  left:50%;
  margin:-8px 0 0 -8px;
}

header button svg .fill {
  fill:#5484AE;
}

.container {
  position:fixed;
  top:170px;
  width:100%;
  float:left;
  padding:15px;
}

ul.list {
  width: 100%;
  float:left;
}

ul.list li {
  width:100%;
  min-height:65px;
  float:left;
  font-size:14px;
  font-weight:500;
  color:#444;
  line-height:22px;
  height:50px;
  background:#fff;
  border-radius:5px;
  position:relative;
  box-shadow:0px 1px 2px rgba(44,62,80,0.15);
  margin:0 0 10px 0;
  padding: 14px 100px 14px 14px;
}

ul.list li:last-of-type {
  margin: 0;
}

ul.list li .buttons {
  width:50px;
  height:50px;
  position:absolute;
  top:0;
  right:0;
}

ul.list li .buttons button {
  width:50px;
  height:50px;
  float:left;
  background:none;
  position:relative;
  border:0px;
  box-shadow:none;
  outline:none;

  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
}

ul.list li .buttons button svg {
  width:22px;
  height:22px;
  position:absolute;
  top:60%;
  left:50%;
  margin: -11px 0 0 -11px;
}

ul.list li .buttons button.remove svg .fill {
  fill:red;
}
