label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
}

.custom-checkbox .glyphicon {
  color: #EB3838;
  position: absolute;
  top: 6.5em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-heart-empty {
  color: #EFEFEF;
  opacity: 0.6;
}

.custom-checkbox .glyphicon-heart {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-heart {
  opacity: 1;
}

.custom-checkbox {
  position:absolute;
  right:3px;
  font-size: 30px;
}
